.app-loader {
  padding: 35px 0;
  text-align: center;

  &:after,
  &:before,
  > .circle {
    animation-direction: alternate;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-name: loader;
    animation-timing-function: linear;
    background-color: #aaa;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 0 2px;
    width: 6px;
  }

  &:after,
  &:before {
      content: "";
  }

  > .circle {
      animation-delay: 0.3s;
  }

  &:after {
      animation-delay: 0.6s;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
