.app-navigation {
  padding: 35px 25px;
  text-align: center;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > ul > li {
    display: inline-block;
    margin: 0 15px;
  }

  > ul > li > a {
    color: $color-copy;
    font-size: 14px;
    text-decoration: none;

    &:hover,
    &.-active {
      color: $color-accent;
    }

    &:hover {
      text-decoration: underline;
    }

    &.-active {
      font-weight: 500;
    }
  }
}
