.filter-option {
  float: left;
  padding: 0 8px;
  width: 25%;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  > .wrapped {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: $box-shadow;
    padding: 20px 20px 18px 20px;
    text-align: center;

    &:before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 60px;
      margin-bottom: 25px;
    }

    &.-location:before { background-image: url("/assets/images/icons/location.png"); }
    &.-radius:before { background-image: url("/assets/images/icons/compass.png"); }
    &.-meal:before { background-image: url("/assets/images/icons/meal.png"); }
    &.-people:before { background-image: url("/assets/images/icons/people.png"); }
  }

  > .wrapped > select {
    background: none;
    background-image: url("/assets/images/icons/angle-down.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 8px auto;
    border: none;
    border-radius: 0;
    color: inherit;
    display: block;
    font-size: 14px;
    width: 100%;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
}
