.key-search {
  > input {
    border: none;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    width: 100%;

    -webkit-box-shadow: $box-shadow;
       -moz-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
  }
}
