.meal-content {
  padding: 20px 50px 20px 20px;
  position: relative;

  > .title {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 0;
  }

  > .description {
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.45;
    margin: 0;
    padding: 0;
  }

  > .price {
    color: green;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 16px;

    > span {
      color: $color-copy;
      font-size: 11px;
      font-weight: 400;
      margin-right: 3px;
    }
  }

  > .place {
    color: #888;
    font-size: 14px;
    list-style-type: none;
    margin: 12px 0 0 0;
    padding: 0;

    > li {
      line-height: 1.45;
    }

    > li > a {
      color: $color-accent;
    }
  }
}
