.sms-popup {
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;

  > .close {
    background: #fff;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    padding: 5px 15px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  > .box {
    background-color: #fff;
    border-radius: $box-radius;
    box-shadow: $box-shadow;
    left: 50%;
    max-width: 400px;
    padding: 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  > .box > .title {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px 0;
    padding: 0;
  }

  > .box > .description {
    font-style: italic;
  }

  > .box > input[type="text"] {
    border: solid 1px #eee;
    border-radius: $box-radius;
    display: block;
    margin-bottom: 15px;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
  }
}
