.meal-result {
  box-shadow: $box-shadow;
  border-radius: $box-radius;
  height: 230px;
  margin-bottom: 30px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > .image {
    background-image: url("/assets/images/photos/sample-01.jpg");
    background-position: center;
    background-size: cover;
    border-radius: $box-radius;
    float: left;
    height: 100%;
    width: 35%;
  }

  > .content {
    float: right;
    height: 100%;
    width: 65%;
  }
}
