<div class="meals-results">
  <div class="app-container">
    <div class="meal-result"
      ng-repeat="meal in model.meals">
      <div class="image"
        style="background-image: url({{ meal.image }});"></div>
      <div class="content">
        <div class="meal-content">
          <div class="price">
            <span>(-{{ meal.discount }}%)</span> {{ meal.price | currency }}
          </div>
          <h2 class="title">
            {{ meal.title }}
          </h2>
          <p class="description">
            {{ meal.description }}
          </p>
          <ul class="place">
            <li>{{ meal.place.name }}</li>
            <li>{{ meal.place.city }}, {{ meal.place.zipcode }}</li>
            <li>{{ meal.place.address }}</li>
            <li>
              <a href="http://maps.google.com/maps?q=35.128061,-106.535561&ll=35.126517,-106.535131&z=17"
                target="_blank">
                View on map
              </a>
            </li>
          </ul>
          <button type="button"
            class="app-button -bottomright -gradient"
            ng-click="model.reserve(meal.id)">
            Reserve
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sms-popup"
  ng-show="model.selectedMeal">
  <button class="close"
    ng-click="model.close()">
    Close
  </button>

  <!-- Phone number -->
  <div class="box"
    ng-show="!model.smsSent">
    <h3 class="title">
      Enter your phone number to reserve your deal.
    </h3>
    <input type="text"
      placeholder="Phone number">
    <button class="app-button -gradient"
      ng-click="model.sendSms()">
      Reserve
    </button>
  </div>

  <!-- SMS code verification -->
  <div class="box"
    ng-show="model.smsSent">
    <h3 class="title">
      Enter the confirmation code sent by SMS.
    </h3>
    <input type="text"
      placeholder="Confiramtion code">
    <button class="app-button -gradient"
      ng-click="model.verifyCode()">
      Verify
    </button>
  </div>

  <!-- Close verification -->
  <div class="box"
    ng-show="model.verificationCompleted">
    <h3 class="title">
      Thank you for reserving you deal!
    </h3>
    <p class="description">
      A reservation number has been sent to your phone number.
    </p>
    <button class="app-button -gradient"
      ng-click="model.close()">
      Complete
    </button>
  </div>
</div>
