<form class="meals-search">
  <div class="key">
    <div class="key-search">
      <input type="text"
        name="key"
        placeholder="What would you like to eat? Try pizza, spaghetti, hamburger and many more..."
        ng-model="model.data.key"
        ng-change="model.getMeals()">
    </div>
  </div>
  <div class="filter">
    <div class="filter-option">
      <div class="wrapped -location">
        <select name="place"
          ng-model="model.data.place"
          ng-change="model.getMeals()">
          <option value="">Place</option>
          <option value="Ljubljana">Ljubljana</option>
          <option value="Sarajevo">Sarajevo</option>
          <option value="San Francisco">San Francisco</option>
          <option value="Rome">Rome</option>
        </select>
      </div>
    </div>
    <div class="filter-option">
      <div class="wrapped -radius">
        <select name="radius"
          ng-model="model.data.radius"
          ng-change="model.getMeals()">
          <option value="">Radius</option>
          <option value="100">100 meters</option>
          <option value="500">500 meters</option>
          <option value="1000">1 kilometers</option>
          <option value="2000">2 kilometers</option>
          <option value="5000">5 kilometers</option>
          <option value="0">Any</option>
        </select>
      </div>
    </div>
    <div class="filter-option">
      <div class="wrapped -meal">
        <select name="type"
          ng-model="model.data.type"
          ng-change="model.getMeals()">
          <option value="">Meal type</option>
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Coffee Break">Coffee Break</option>
        </select>
      </div>
    </div>
    <div class="filter-option">
      <div class="wrapped -people">
        <select name="people"
          ng-model="model.data.people"
          ng-change="model.getMeals()">
          <option value="">People</option>
          <option value="1">1 person</option>
          <option value="2">2 people</option>
          <option value="3">3 people</option>
          <option value="4">4 people</option>
          <option value="5">5+ people</option>
        </select>
      </div>
    </div>
  </div>
</form>
