<header class="app-header" ng-click="model.logmeals()">
  <div class="app-container">
    <nav class="app-navigation">
      <ul>
        <li><a href="#" class="-active">Places</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
      </ul>
    </nav>

    <div class="app-slogan">
      <h1 class="title">
        The best meals at the best time!
      </h1>
    </div>

    <search-meals meals="model.meals"></search-meals>
  </div>
</header>

<div class="app-loader"
  ng-show="!model.meals">
    <span class="circle"></span>
</div>

<meals-results meals="model.meals"
  ng-show="model.meals">
</meals-results>

<app-footer></app-footer>

