html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $color-copy;
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  color: inherit;
  font-family: inherit;
}

:focus {
  outline: none;
}
