.app-button {
  background-color: $color-accent;
  border: none;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;

  &.-gradient {
    background: linear-gradient(90deg, rgba(252, 112, 25, 1) 0%, rgba(248, 175, 99, 1) 100%);
  }

  &.-bottomright {
    bottom: 10px;
    position: absolute;
    right: 20px;
  }
}
